In [3]:
#Imorting dependencies
import pandas as pd
from sqlalchemy import create_engine
from sqlalchemy import inspect

In [4]:
#Reading the Foreign Direct Investment Dataset
foreign_dir_inv_file= "../Resources/Foreign_direct_investment.csv"
foreign_dir_inv_df = pd.read_csv( foreign_dir_inv_file)
foreign_dir_inv_df

,"Foreign direct investment, net inflows (% of GDP)",1970,1971,1972,1973,1974,1975,1976,1977,1978,...,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011
0,Afghanistan,0.013151,0.024575,0.009401,0.015577,NaN,NaN,0.001565,-0.008126,NaN,...,1.152364,1.212725,3.276532,3.976666,3.082130,2.503252,2.512501,1.301564,0.438726,NaN
1,Albania,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3.034135,3.149791,4.572142,3.133523,3.561523,6.186838,7.390890,8.008638,9.414123,NaN
2,Algeria,1.647378,0.011817,0.613595,0.585191,2.710127,0.764883,1.054808,0.850913,0.512630,...,1.866684,0.931657,1.037359,1.056292,1.532824,1.223827,1.517639,1.998263,1.414501,NaN
3,American Samoa,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Andorra,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
208,Virgin Islands (U.S.),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
209,West Bank and Gaza,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.333270,0.571557,1.355745,1.158953,NaN,NaN,NaN,NaN,NaN,NaN
210,"Yemen, Rep.",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.068914,-0.756569,1.034910,-1.802916,5.874625,4.235665,5.775544,0.514099,0.178230,NaN
211,Zambia,0.532217,0.509307,1.548763,1.314577,1.305483,1.556326,1.163770,1.708105,1.373390,...,8.006262,7.933492,6.692190,4.972309,5.753860,11.470850,6.410991,5.425994,6.431231,NaN
212,Zimbabwe,0.990868,1.002425,0.877236,0.921328,0.837485,0.660444,0.673633,-0.087417,0.057891,...,0.408381,0.066346,0.149855,1.786206,0.734768,1.301978,1.168557,1.799112,1.409846,NaN

In [5]:
#Reading the Government Debt Dataset
govt_debt_file= "../Resources/Government_Debt.csv"
govt_debt_df = pd.read_csv( govt_debt_file)
govt_debt_df

,COU,Country,DTYP,Type,FREQ,Frequency,UNIT,Unit,DVAR,Variable,TIME,Time period,Value,Flag Codes,Flags
0,AUS,Australia,AMT,Stocks: Outstanding amounts,A,Annual,PCT,Percentage,P1,Total central government debt % of GDP,1997,1997,18.476,NaN,NaN
1,AUS,Australia,AMT,Stocks: Outstanding amounts,A,Annual,PCT,Percentage,P1,Total central government debt % of GDP,1998,1998,15.578,NaN,NaN
2,AUS,Australia,AMT,Stocks: Outstanding amounts,A,Annual,PCT,Percentage,P1,Total central government debt % of GDP,1999,1999,13.741,NaN,NaN
3,AUS,Australia,AMT,Stocks: Outstanding amounts,A,Annual,PCT,Percentage,P1,Total central government debt % of GDP,2000,2000,11.361,NaN,NaN
4,AUS,Australia,AMT,Stocks: Outstanding amounts,A,Annual,PCT,Percentage,P1,Total central government debt % of GDP,2001,2001,9.552,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
461,SVN,Slovenia,AMT,Stocks: Outstanding amounts,A,Annual,PCT,Percentage,P1,Total central government debt % of GDP,2006,2006,25.782,NaN,NaN
462,SVN,Slovenia,AMT,Stocks: Outstanding amounts,A,Annual,PCT,Percentage,P1,Total central government debt % of GDP,2007,2007,23.207,NaN,NaN
463,SVN,Slovenia,AMT,Stocks: Outstanding amounts,A,Annual,PCT,Percentage,P1,Total central government debt % of GDP,2008,2008,21.188,NaN,NaN
464,SVN,Slovenia,AMT,Stocks: Outstanding amounts,A,Annual,PCT,Percentage,P1,Total central government debt % of GDP,2009,2009,33.628,NaN,NaN
465,SVN,Slovenia,AMT,Stocks: Outstanding amounts,A,Annual,PCT,Percentage,P1,Total central government debt % of GDP,2010,2010,36.023,NaN,NaN

In [65]:
govt_debt_df_new = govt_debt_df[["Country","TIME","Value"]]
govt_debt_df_new_a = govt_debt_df_new.pivot_table('Value',['Country'],"TIME")
govt_debt_df_new_a.reset_index(drop=False, inplace=True)
govt_debt_df_new_a

TIME,Country,1997,1998,1999,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010
0,Australia,18.476,15.578,13.741,11.361,9.552,8.576,7.549,6.716,6.312,5.760,5.181,4.922,8.195,10.966
1,Austria,59.241,59.893,62.045,61.188,60.659,60.401,60.882,62.242,62.116,60.434,57.829,59.319,64.916,65.754
2,Belgium,109.891,105.317,103.431,99.542,99.125,97.948,95.395,92.763,91.774,87.568,85.295,90.094,94.893,96.789
3,Canada,52.684,50.082,46.652,40.863,39.713,38.091,35.853,32.109,30.235,27.934,25.183,28.642,35.716,36.073
4,Chile,13.220,12.496,13.717,13.642,14.924,15.675,13.001,10.684,7.282,5.264,4.097,5.173,6.228,9.185
5,Czech Republic,9.560,9.751,10.974,13.216,14.669,16.064,19.137,21.064,23.164,24.904,25.240,27.102,32.496,36.625
6,Denmark,69.055,64.004,60.867,54.809,52.020,51.623,49.608,46.958,39.292,32.715,27.765,32.318,37.891,39.590
7,Estonia,NaN,NaN,4.609,3.336,2.925,3.555,3.141,2.634,2.091,1.836,1.319,1.761,3.550,3.227
8,Finland,65.016,59.886,55.679,48.017,44.368,41.279,43.544,41.925,38.170,35.561,31.201,29.452,37.549,41.683
9,France,45.598,46.321,47.773,47.417,48.346,49.941,51.880,52.561,53.275,52.131,52.118,53.406,61.231,67.418
10,Germany,24.254,26.055,34.079,38.357,36.452,37.164,38.480,39.862,40.832,41.232,39.550,39.550,44.205,44.403
11,Greece,105.220,103.746,103.561,108.926,109.684,109.199,105.777,108.624,110.572,107.675,105.674,110.617,127.022,147.839
12,Hungary,60.930,58.986,59.160,54.052,50.431,53.532,56.203,55.673,58.103,61.971,61.551,67.668,72.790,73.898
13,Iceland,46.240,40.718,35.316,33.830,39.238,35.260,33.327,28.179,19.378,24.807,23.237,44.175,87.473,81.257
14,Ireland,57.307,47.797,44.091,34.766,30.892,27.869,26.863,25.343,23.524,20.253,19.834,28.001,47.074,60.703
15,Israel,102.803,103.790,93.180,83.380,87.836,95.349,97.813,96.640,92.102,82.659,75.948,75.307,77.693,74.714
16,Italy,110.951,108.718,106.656,103.576,102.658,99.543,96.699,96.313,97.656,97.454,95.627,98.093,106.778,109.015
17,Japan,76.660,87.717,97.043,106.118,123.521,137.610,140.896,156.805,164.498,161.806,164.546,180.783,183.530,NaN
18,Korea,9.965,14.258,16.341,16.733,17.365,17.574,20.704,23.714,27.595,30.065,29.651,29.027,32.558,31.935
19,Luxembourg,3.725,4.054,3.508,3.170,3.092,2.678,1.686,1.428,0.821,1.458,1.419,8.153,8.489,12.578
20,Mexico,23.512,25.373,23.337,21.201,20.511,21.908,22.070,20.745,20.295,20.583,20.861,24.369,28.086,27.460
21,Netherlands,53.884,52.021,49.239,44.094,41.317,41.455,42.957,43.752,42.952,39.169,37.552,50.068,49.719,51.845
22,New Zealand,36.209,37.847,35.033,32.143,30.067,28.400,26.352,23.734,22.069,21.580,20.343,20.721,27.530,30.450
23,Norway,24.681,22.249,20.866,19.303,18.134,18.994,21.322,18.402,17.173,12.473,11.681,13.905,26.363,26.077
24,Poland,43.009,39.507,39.714,35.844,36.423,40.553,44.944,43.574,44.764,45.143,42.620,44.686,47.015,49.679
25,Portugal,56.241,52.993,53.200,52.103,54.012,56.710,58.299,60.970,66.194,67.732,66.622,68.880,78.730,87.962
26,Slovak Republic,20.811,22.534,22.712,23.875,36.009,35.031,35.069,38.405,33.103,29.164,28.108,26.342,33.749,39.078
27,Slovenia,NaN,NaN,NaN,NaN,NaN,NaN,26.871,27.063,26.900,25.782,23.207,21.188,33.628,36.023
28,Spain,55.275,53.558,52.267,49.872,46.274,43.942,40.680,39.268,36.360,32.965,30.019,33.695,46.026,51.693
29,Sweden,74.126,71.951,64.035,56.887,48.625,46.781,47.712,46.612,46.232,42.242,36.406,35.560,38.098,33.782
30,Switzerland,25.274,27.733,25.379,25.614,24.822,28.178,28.262,28.066,28.102,25.195,23.216,22.376,20.723,20.240
31,Türkiye,32.907,30.995,39.797,38.184,74.060,69.239,62.185,56.621,51.087,45.498,39.551,40.011,46.350,42.851
32,United Kingdom,NaN,49.652,44.080,42.153,38.788,39.131,38.667,40.023,43.523,43.185,42.744,61.059,75.270,85.535
33,United States,45.361,42.504,38.975,33.896,32.408,33.204,34.865,36.044,36.149,36.039,35.703,40.183,53.573,61.274

In [67]:
govt_debt_df_new_b = govt_debt_df_new_a[['Country',2001,2002,2003,2004,2005,2006,2007,2008,2009,2010]]
govt_debt_df_new_b.rename(columns={2001:'debt_2001',2002:'debt_2002',2003:'debt_2003',2004:'debt_2004',2005:'debt_2005',2006:'debt_2006',2007:'debt_2007',2008:'debt_2008',2009:'debt_2009',2010:'debt_2010'})
govt_debt_df_new_b

TIME,Country,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010
0,Australia,9.552,8.576,7.549,6.716,6.312,5.760,5.181,4.922,8.195,10.966
1,Austria,60.659,60.401,60.882,62.242,62.116,60.434,57.829,59.319,64.916,65.754
2,Belgium,99.125,97.948,95.395,92.763,91.774,87.568,85.295,90.094,94.893,96.789
3,Canada,39.713,38.091,35.853,32.109,30.235,27.934,25.183,28.642,35.716,36.073
4,Chile,14.924,15.675,13.001,10.684,7.282,5.264,4.097,5.173,6.228,9.185
5,Czech Republic,14.669,16.064,19.137,21.064,23.164,24.904,25.240,27.102,32.496,36.625
6,Denmark,52.020,51.623,49.608,46.958,39.292,32.715,27.765,32.318,37.891,39.590
7,Estonia,2.925,3.555,3.141,2.634,2.091,1.836,1.319,1.761,3.550,3.227
8,Finland,44.368,41.279,43.544,41.925,38.170,35.561,31.201,29.452,37.549,41.683
9,France,48.346,49.941,51.880,52.561,53.275,52.131,52.118,53.406,61.231,67.418
10,Germany,36.452,37.164,38.480,39.862,40.832,41.232,39.550,39.550,44.205,44.403
11,Greece,109.684,109.199,105.777,108.624,110.572,107.675,105.674,110.617,127.022,147.839
12,Hungary,50.431,53.532,56.203,55.673,58.103,61.971,61.551,67.668,72.790,73.898
13,Iceland,39.238,35.260,33.327,28.179,19.378,24.807,23.237,44.175,87.473,81.257
14,Ireland,30.892,27.869,26.863,25.343,23.524,20.253,19.834,28.001,47.074,60.703
15,Israel,87.836,95.349,97.813,96.640,92.102,82.659,75.948,75.307,77.693,74.714
16,Italy,102.658,99.543,96.699,96.313,97.656,97.454,95.627,98.093,106.778,109.015
17,Japan,123.521,137.610,140.896,156.805,164.498,161.806,164.546,180.783,183.530,NaN
18,Korea,17.365,17.574,20.704,23.714,27.595,30.065,29.651,29.027,32.558,31.935
19,Luxembourg,3.092,2.678,1.686,1.428,0.821,1.458,1.419,8.153,8.489,12.578
20,Mexico,20.511,21.908,22.070,20.745,20.295,20.583,20.861,24.369,28.086,27.460
21,Netherlands,41.317,41.455,42.957,43.752,42.952,39.169,37.552,50.068,49.719,51.845
22,New Zealand,30.067,28.400,26.352,23.734,22.069,21.580,20.343,20.721,27.530,30.450
23,Norway,18.134,18.994,21.322,18.402,17.173,12.473,11.681,13.905,26.363,26.077
24,Poland,36.423,40.553,44.944,43.574,44.764,45.143,42.620,44.686,47.015,49.679
25,Portugal,54.012,56.710,58.299,60.970,66.194,67.732,66.622,68.880,78.730,87.962
26,Slovak Republic,36.009,35.031,35.069,38.405,33.103,29.164,28.108,26.342,33.749,39.078
27,Slovenia,NaN,NaN,26.871,27.063,26.900,25.782,23.207,21.188,33.628,36.023
28,Spain,46.274,43.942,40.680,39.268,36.360,32.965,30.019,33.695,46.026,51.693
29,Sweden,48.625,46.781,47.712,46.612,46.232,42.242,36.406,35.560,38.098,33.782
30,Switzerland,24.822,28.178,28.262,28.066,28.102,25.195,23.216,22.376,20.723,20.240
31,Türkiye,74.060,69.239,62.185,56.621,51.087,45.498,39.551,40.011,46.350,42.851
32,United Kingdom,38.788,39.131,38.667,40.023,43.523,43.185,42.744,61.059,75.270,85.535
33,United States,32.408,33.204,34.865,36.044,36.149,36.039,35.703,40.183,53.573,61.274

In [33]:
#Reading the Foreign Direct Investment Dataset
annual_inflation_file= "../Resources/Inflation_annual.csv"
annual_inflation_df = pd.read_csv( annual_inflation_file)
annual_inflation_df.head()

,"Inflation, GDP deflator (annual %)",1961,1962,1963,1964,1965,1966,1967,1968,1969,...,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011
0,Abkhazia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Afghanistan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,3.845357,6.780488,8.405298,2.413906,13.208274,19.643462,-1.162791,3.682878,NaN
2,Akrotiri and Dhekelia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Albania,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3.300196,3.383486,6.007745,3.469252,1.995241,2.024081,4.360905,2.410882,3.459343,3.000000
4,Algeria,3.47172,2.35128,0.549331,1.695183,1.501331,1.817815,1.312041,3.142056,1.921084,...,1.906329,8.323803,10.629329,16.459258,11.282812,7.331055,14.602179,-11.266611,16.245617,11.431168

In [38]:
foreign_dir_inv_df=foreign_dir_inv_df[["Foreign direct investment, net inflows (% of GDP)","2001","2002","2003","2004","2005","2006","2007","2008","2009","2010"]]
foreign_dir_inv_df=foreign_dir_inv_df.dropna()
foreign_dir_inv_df.rename(columns = {'Foreign direct investment, net inflows (% of GDP)':'Country','2001':'FDI_2001','2002':'FDI_2002','2003':'FDI_2003','2004':'FDI_2004','2005':'FDI_2005','2006':'FDI_2006','2007':'FDI_2007','2008':'FDI_2008','2009':'FDI_2009','2010':'FDI_2010',}, inplace = True)
foreign_dir_inv_df

,Country,FDI_2001,FDI_2002,FDI_2003,FDI_2004,FDI_2005,FDI_2006,FDI_2007,FDI_2008,FDI_2009,FDI_2010
0,Afghanistan,0.027624,1.152364,1.212725,3.276532,3.976666,3.082130,2.503252,2.512501,1.301564,0.438726
1,Albania,5.067196,3.034135,3.149791,4.572142,3.133523,3.561523,6.186838,7.390890,8.008638,9.414123
2,Algeria,2.007757,1.866684,0.931657,1.037359,1.056292,1.532824,1.223827,1.517639,1.998263,1.414501
5,Angola,24.009226,14.626760,25.112026,7.328525,-4.256403,-0.083508,-1.477781,1.994536,2.921207,-3.799535
6,Antigua and Barbuda,12.399882,8.001069,19.192072,8.699671,21.594978,30.864149,25.662619,12.640130,6.435273,7.981280
...,...,...,...,...,...,...,...,...,...,...,...
206,Venezuela,2.996508,0.841860,2.439544,1.318792,1.904291,-0.276873,0.715113,0.384083,-0.777597,0.308538
207,Vietnam,3.977335,3.993358,3.666012,3.544081,3.692554,3.940012,9.434548,10.515506,7.820515,7.516900
210,"Yemen, Rep.",1.574387,1.068914,-0.756569,1.034910,-1.802916,5.874625,4.235665,5.775544,0.514099,0.178230
211,Zambia,1.971439,8.006262,7.933492,6.692190,4.972309,5.753860,11.470850,6.410991,5.425994,6.431231
212,Zimbabwe,0.056069,0.408381,0.066346,0.149855,1.786206,0.734768,1.301978,1.168557,1.799112,1.409846

In [35]:
annual_inflation_df=annual_inflation_df[["Inflation, GDP deflator (annual %)","2001","2002","2003","2004","2005","2006","2007","2008","2009","2010"]]
annual_inflation_df=annual_inflation_df.dropna()
annual_inflation_df.rename(columns = {'Inflation, GDP deflator (annual %)':'Country','2001':'Inflation_2001','2002':'Inflation_2002','2003':'Inflation_2003','2004':'Inflation_2004','2005':'Inflation_2005','2006':'Inflation_2006','2007':'Inflation_2007','2008':'Inflation_2008','2009':'Inflation_2009','2010':'Inflation_2010'}, inplace = True)
annual_inflation_df

,Country,Inflation_2001,Inflation_2002,Inflation_2003,Inflation_2004,Inflation_2005,Inflation_2006,Inflation_2007,Inflation_2008,Inflation_2009,Inflation_2010
3,Albania,3.458281,3.300196,3.383486,6.007745,3.469252,1.995241,2.024081,4.360905,2.410882,3.459343
4,Algeria,0.711210,1.906329,8.323803,10.629329,16.459258,11.282812,7.331055,14.602179,-11.266611,16.245617
7,Angola,108.480894,120.507256,102.538108,42.705463,25.954625,13.041180,12.616432,19.681609,-7.418838,22.393924
9,Antigua and Barbuda,-3.206067,1.129318,0.192628,-0.407634,6.310777,0.302848,23.258314,3.021693,-0.013833,4.280006
10,Argentina,-1.095779,30.555282,10.495608,9.220651,8.840490,13.426278,14.258239,19.068450,9.977458,15.376172
...,...,...,...,...,...,...,...,...,...,...,...
246,Venezuela,7.996904,33.022876,34.933756,33.953724,29.604059,17.904316,15.448478,30.132453,7.831666,45.943269
250,Vietnam,1.948326,3.938990,6.686367,8.178606,8.188729,7.266291,8.239384,22.135750,6.028698,11.860075
254,Yemen,2.748200,8.711880,10.892343,14.113320,18.533354,13.588647,10.888282,20.380339,-8.707862,24.161016
256,Zambia,24.299561,20.488215,20.510670,19.143215,17.018662,13.293647,12.810390,12.331223,10.736360,11.715983
257,Zimbabwe,-0.130890,2.712949,8.801276,7.611525,5.136601,-2.017679,0.894888,1.349222,24.706602,17.509530

In [39]:
merged_df=pd.merge(foreign_dir_inv_df, annual_inflation_df, on = "Country", how = "inner")
merged_df

,Country,FDI_2001,FDI_2002,FDI_2003,FDI_2004,FDI_2005,FDI_2006,FDI_2007,FDI_2008,FDI_2009,...,Inflation_2001,Inflation_2002,Inflation_2003,Inflation_2004,Inflation_2005,Inflation_2006,Inflation_2007,Inflation_2008,Inflation_2009,Inflation_2010
0,Albania,5.067196,3.034135,3.149791,4.572142,3.133523,3.561523,6.186838,7.390890,8.008638,...,3.458281,3.300196,3.383486,6.007745,3.469252,1.995241,2.024081,4.360905,2.410882,3.459343
1,Algeria,2.007757,1.866684,0.931657,1.037359,1.056292,1.532824,1.223827,1.517639,1.998263,...,0.711210,1.906329,8.323803,10.629329,16.459258,11.282812,7.331055,14.602179,-11.266611,16.245617
2,Angola,24.009226,14.626760,25.112026,7.328525,-4.256403,-0.083508,-1.477781,1.994536,2.921207,...,108.480894,120.507256,102.538108,42.705463,25.954625,13.041180,12.616432,19.681609,-7.418838,22.393924
3,Antigua and Barbuda,12.399882,8.001069,19.192072,8.699671,21.594978,30.864149,25.662619,12.640130,6.435273,...,-3.206067,1.129318,0.192628,-0.407634,6.310777,0.302848,23.258314,3.021693,-0.013833,4.280006
4,Argentina,0.806164,2.105942,1.274728,2.693609,2.874148,2.586741,2.482334,2.977121,1.308169,...,-1.095779,30.555282,10.495608,9.220651,8.840490,13.426278,14.258239,19.068450,9.977458,15.376172
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
147,Vanuatu,6.980398,5.411480,5.747798,5.454475,3.369376,9.978628,6.471937,7.397580,5.436542,...,3.722532,1.669917,1.315683,1.645930,0.392850,4.983010,4.814068,4.764463,1.312735,2.791246
148,Venezuela,2.996508,0.841860,2.439544,1.318792,1.904291,-0.276873,0.715113,0.384083,-0.777597,...,7.996904,33.022876,34.933756,33.953724,29.604059,17.904316,15.448478,30.132453,7.831666,45.943269
149,Vietnam,3.977335,3.993358,3.666012,3.544081,3.692554,3.940012,9.434548,10.515506,7.820515,...,1.948326,3.938990,6.686367,8.178606,8.188729,7.266291,8.239384,22.135750,6.028698,11.860075
150,Zambia,1.971439,8.006262,7.933492,6.692190,4.972309,5.753860,11.470850,6.410991,5.425994,...,24.299561,20.488215,20.510670,19.143215,17.018662,13.293647,12.810390,12.331223,10.736360,11.715983
151,Zimbabwe,0.056069,0.408381,0.066346,0.149855,1.786206,0.734768,1.301978,1.168557,1.799112,...,-0.130890,2.712949,8.801276,7.611525,5.136601,-2.017679,0.894888,1.349222,24.706602,17.509530