In [1]:
#Imorting dependencies
import pandas as pd
from sqlalchemy import create_engine
from sqlalchemy import inspect

In [10]:
#Reading the Foreign Direct Investment Dataset
foreign_dir_inv_file= "../Resources/Foreign_direct_investment.csv"
foreign_dir_inv_df = pd.read_csv( foreign_dir_inv_file)
foreign_dir_inv_df

,"Foreign direct investment, net inflows (% of GDP)",1970,1971,1972,1973,1974,1975,1976,1977,1978,...,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011
0,Afghanistan,0.013151,0.024575,0.009401,0.015577,NaN,NaN,0.001565,-0.008126,NaN,...,1.152364,1.212725,3.276532,3.976666,3.082130,2.503252,2.512501,1.301564,0.438726,NaN
1,Albania,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3.034135,3.149791,4.572142,3.133523,3.561523,6.186838,7.390890,8.008638,9.414123,NaN
2,Algeria,1.647378,0.011817,0.613595,0.585191,2.710127,0.764883,1.054808,0.850913,0.512630,...,1.866684,0.931657,1.037359,1.056292,1.532824,1.223827,1.517639,1.998263,1.414501,NaN
3,American Samoa,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Andorra,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
208,Virgin Islands (U.S.),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
209,West Bank and Gaza,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.333270,0.571557,1.355745,1.158953,NaN,NaN,NaN,NaN,NaN,NaN
210,"Yemen, Rep.",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.068914,-0.756569,1.034910,-1.802916,5.874625,4.235665,5.775544,0.514099,0.178230,NaN
211,Zambia,0.532217,0.509307,1.548763,1.314577,1.305483,1.556326,1.163770,1.708105,1.373390,...,8.006262,7.933492,6.692190,4.972309,5.753860,11.470850,6.410991,5.425994,6.431231,NaN
212,Zimbabwe,0.990868,1.002425,0.877236,0.921328,0.837485,0.660444,0.673633,-0.087417,0.057891,...,0.408381,0.066346,0.149855,1.786206,0.734768,1.301978,1.168557,1.799112,1.409846,NaN

In [8]:
#Reading the Government Debt Dataset
govt_debt_file= "../Resources/Government_Debt.csv"
govt_debt_df = pd.read_csv( govt_debt_file)
govt_debt_df

,COU,Country,DTYP,Type,FREQ,Frequency,UNIT,Unit,DVAR,Variable,TIME,Time period,Value,Flag Codes,Flags
0,AUS,Australia,AMT,Stocks: Outstanding amounts,A,Annual,PCT,Percentage,P1,Total central government debt % of GDP,1997,1997,18.476,NaN,NaN
1,AUS,Australia,AMT,Stocks: Outstanding amounts,A,Annual,PCT,Percentage,P1,Total central government debt % of GDP,1998,1998,15.578,NaN,NaN
2,AUS,Australia,AMT,Stocks: Outstanding amounts,A,Annual,PCT,Percentage,P1,Total central government debt % of GDP,1999,1999,13.741,NaN,NaN
3,AUS,Australia,AMT,Stocks: Outstanding amounts,A,Annual,PCT,Percentage,P1,Total central government debt % of GDP,2000,2000,11.361,NaN,NaN
4,AUS,Australia,AMT,Stocks: Outstanding amounts,A,Annual,PCT,Percentage,P1,Total central government debt % of GDP,2001,2001,9.552,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
461,SVN,Slovenia,AMT,Stocks: Outstanding amounts,A,Annual,PCT,Percentage,P1,Total central government debt % of GDP,2006,2006,25.782,NaN,NaN
462,SVN,Slovenia,AMT,Stocks: Outstanding amounts,A,Annual,PCT,Percentage,P1,Total central government debt % of GDP,2007,2007,23.207,NaN,NaN
463,SVN,Slovenia,AMT,Stocks: Outstanding amounts,A,Annual,PCT,Percentage,P1,Total central government debt % of GDP,2008,2008,21.188,NaN,NaN
464,SVN,Slovenia,AMT,Stocks: Outstanding amounts,A,Annual,PCT,Percentage,P1,Total central government debt % of GDP,2009,2009,33.628,NaN,NaN
465,SVN,Slovenia,AMT,Stocks: Outstanding amounts,A,Annual,PCT,Percentage,P1,Total central government debt % of GDP,2010,2010,36.023,NaN,NaN

In [6]:
#Reading the Foreign Direct Investment Dataset
annual_inflation_file= "../Resources/Inflation_annual.csv"
annual_inflation_df = pd.read_csv( annual_inflation_file)
annual_inflation_df.head()

,"Inflation, GDP deflator (annual %)",1961,1962,1963,1964,1965,1966,1967,1968,1969,...,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011
0,Abkhazia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Afghanistan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,3.845357,6.780488,8.405298,2.413906,13.208274,19.643462,-1.162791,3.682878,NaN
2,Akrotiri and Dhekelia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Albania,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3.300196,3.383486,6.007745,3.469252,1.995241,2.024081,4.360905,2.410882,3.459343,3.000000
4,Algeria,3.47172,2.35128,0.549331,1.695183,1.501331,1.817815,1.312041,3.142056,1.921084,...,1.906329,8.323803,10.629329,16.459258,11.282812,7.331055,14.602179,-11.266611,16.245617,11.431168